*{ box-sizing: border-box; }

.signup_form{
  width: 450px;
  height: auto;
  background-color: #811d;
  margin: 50px auto auto auto;
  text-align: center;
  padding: 10px 30px 50px 30px;
  border-radius: 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}
.signup_form h2{

}
.login_button{
  width: 85%;
  margin: 10px 0px 20px 0px;
  font-size: 18px;
  padding: 15px;
  border-radius: 10px;
  border: none;
  transition: .2s;
  cursor: pointer;
}
input[name="google"]{
  margin: 10px 0px 15px 0px;
  padding: 20px 0px;
  background: #fff url(../img/google_logo.png) 5% 50% no-repeat;
  background-size: 50px;
}
.login_button:hover{
  background-color: #548CA8;
  color: #fff;
}
.or{
  width: 100%;
  height: auto;
  margin: 10px;
}
.or::before,.or::after{
  content: ' ــــــــــــــــــــــــــــــــــــــــــــــــ ';
}
.login_text{
  width: 70%;
  height: auto;
  padding: 15px 10px;
  border-radius: 10px;
  border: none;
  transition: .2s;
  display: block;
  margin: 10px auto 0px auto;
}
.login_text:focus{
  outline: none;
  border: solid;
  border-width: 1px;
  border-color: #1070F0;
  width: 80%;
}
.sign_in{
  width: 80%;
  margin-top: 30px;
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: .2s;
}
.sign_in:hover{
  background-color: #464660;
  color: #F1E9E5;
}
.signup_form a{
  text-decoration: none;
  margin: 10px 0px 0px 0px;
  text-align: right;
  color: #5f9ff0;
}
.signup_form a:hover{
  text-decoration: underline;
  color: #4f6ff0;
}
.signup{
  display: block;
  margin-top: 30px;
}
